{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Products</h1>

<div class="row">
    {% for p in products %}
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card" style="width: 25rem;">
                <img src="{{ p.image_url }}" class="card-img-top" alt="{{ p.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ p.name }}</h5>
                    <p class="card-text">${{ p.price }}</p>
                    <a href="{{ url_for('product_detail', prod_id=p.id) }}" class="btn btn-primary">More Information</a>
                </div>
            </div>
        
    </div>        
    {% endfor %}
</div>
{% else %}
<h1>Welcome, please register using the link about to view products.</h1>
{% endif %}
{% endblock content %}